html
  head 
    title=title
    link(href='https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script' rel='stylesheet')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
    link(rel="stylesheet" type="text/css" href="/app.css")
    meta(charset="UTF-8")
    script(src="https://kit.fontawesome.com/cb13c28250.js" crossorigin="anonymous")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
  body
    section#header-container
    section#main-container
    footer.site-footer
      .container
        .row
          .col.s12.l3.center-align
            // Dropdown Trigger
            a.dropdown-trigger.btn(href='#', data-target='dropdown1') Cambiar Idioma
            // Dropdown Structure
            ul#dropdown1.dropdown-content
              li
                a(href='#!') Inglés
              li
                a(href='#!') Español
          .col.s12.l3.push-l6.center-align
            | © 2020 Clonagram
    script.
      $(document).ready(function(){
        $('.modal').modal();
          $('.dropdown-trigger').dropdown();
      });
    script(type='application/javascript' src='/app.js')
        
